/* центрирует лого по вертикали и делает отступ сверху */
.logo-image img{
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* прелоудер меняет ширину и высоту !important означает принудительность */
.loading-wrapper .loading span {
  width: 100px!important; height: 100px!important
};

/* запрос на вывод и транзакция меняет цвет, делает округление по бокам и делает отступ со всех сторон */
transactions-container .transactions-item, .withdraw-requests-container .transactions-item{ 
  background: #000; border-radius: 7px; margin:7px;
}
